.card-container {
    display: flex;
    overflow: hidden;
    width: 200px;
    height: 250px;
}
.outer-card {
    width: 175px;
    height: 85%;
    overflow: scroll;
    text-wrap: auto;
    color: black;
}
.outer-card::-webkit-scrollbar {
    display: none;
}
.inner-card {
    overflow: scroll;
    width: 175px;
    height: 100px;
}
.inner-card img {
    display: flex;
    object-fit: cover;
    height: 100px;
}

.card-title {
  font-size: 14px;
  font-weight: bold;
  padding: 0;
  margin: 5px;
}

.card-description {
  font-size: 12px;
  padding: 0;
  margin: 5px;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  height: 30px;
  border-top: 1px solid #ddd;
  padding-top: 7px;
}

.card-footer-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 60%;
}

.card-footer-details > div{
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
  color: gray;
  text-wrap: nowrap;
  max-width: 100%;
}

.card-footer-details span {
  text-overflow: ellipsis;
  overflow: hidden;
}


.card-footer-details svg {
  flex-shrink: 0;
}
