.ant-collapse-header {
  font-weight: 600;
}

.ant-collapse-header {
  padding-left: 0 !important;
}

.dashboard-category-flex {
  overflow-y: auto;
  white-space: nowrap;
  width: 100%;
}

.dashboard-category-flex::-webkit-scrollbar {
  display: none;
}
