.dashboard {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  max-width: 150rem;
}

.dashboard-featured {
  display: flex;
  gap: 1.5rem;
}

.dashboard-featured-container {
  position: relative;
  max-width: 33%;
  max-height: 500px;
  flex: 1;
}

.dashboard-featured-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(50%);
  border-radius: 30px;
  cursor: pointer;
}

.dashboard-featured-container h2 {
  cursor: pointer;
}

.dashboard-featured-container h2 {
  color: white;
  font-size: 2rem;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dashboard-category {
  margin-bottom: 1rem;
}

.dashboard-category-title h1{
  font-size: 1.7rem;
}

.dashboard-category-title {
  display: flex;
  gap: 0.6rem;
  align-items: center;
}

.dashboard-category-title span {
  font-size: 9px;
  color: gray;
  font-weight: 600;
  cursor: pointer;
}

.ant-input-affix-wrapper {
  background: rgba(146, 39, 143, 0.10);
}

.dashboard-category-flex {
  padding: 1rem 0;
}

.capo-wrapper {
  padding: 0rem 2rem;
  text-align: center;
}

.capo-heading {
  color: #10999d;
  font-size: 1.75rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.capo-description {
  color: #92278f;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.capo-section-title {
  color: #92278f;
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.capo-list {
  color: #800080;
  text-align: left;
  padding-left: 0;
  margin-bottom: 2rem;
}

.capo-item {
  margin-bottom: 0.5rem;
}

.capo-label {
  color: #800080;
  font-weight: bold;
}

.capo-footer {
  color: #800080;
  font-weight: bold;
  margin-top: 2rem;
}

.capo-text {
  color: #800080;
}
