.dashboard {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 100%;
  /* max-width: 150rem; */
}

.dashboard-featured {
  display: flex;
  gap: 1.5rem;
}

.dashboard-featured-container {
  position: relative;
  max-width: 33%;
  flex: 1;
}

.dashboard-featured-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(50%);
  border-radius: 30px;
}

.dashboard-featured-container h2 {
  color: white;
  font-size: 2rem;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dashboard-category h1{
  font-size: 1.7rem;
}

.ant-input-affix-wrapper {
  background: rgba(146, 39, 143, 0.10);
}


.dashboard-category-flex {
  padding: 1rem 0;
}
